<div class="psd2ui">
    <ui-button id="btn-cache" @click="onClickCache"> 缓存资源 </ui-button>
    <ui-checkbox id="is-force-img" style="bottom: 8px;" @change="onForceChanged" >强制导出图片</ui-checkbox>
    <ui-checkbox id="is-img-only" style="bottom: 8px;"  @change="onImgOnlyChanged" >只导出图片</ui-checkbox>

    <hr />
    <ui-prop>
        <ui-label slot="label">输出路径（可选）：</ui-label>
        <ui-input id="output" slot="content" v-model="outputPath" ></ui-input>
    </ui-prop>
    <hr />
    <div class="layout" @click="onClickDropArea">
        <ui-drag-area id="drop-area" droppable="file" @drop="onDropFiles" @dragenter="onDragEnter" @dragleave="onDragLeave" multi
        style="text-align: center;">
            拖入psd文件/文件夹<br />
            或者<br />
            点击我选择文件
        </ui-drag-area>
    </div>
</div>